
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wh{
    
    height: 100vh;
    background-color:white;
    display: grid;
    place-items: center;
    background-image: url(christ.jpg);
    background-size: cover;
   

}
.wh h1{
    font-size: 30px;
    font-family: 'Readex Pro', sans-serif;
    
}
.wh2{
    height:100vh;
    background-color: white;
}
.brand_style{
    font-size: 65px;
    color: tomato;
    font-family: 'Readex Pro', sans-serif;
}
.login{
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    background-color: grey;
    font-family: 'Readex Pro', sans-serif;
}
.log_form{
    width: 400px;
    height: 500px;
    background-color: rgb(219, 205, 205);
    border-radius: 20px;
    font-family: 'Readex Pro', sans-serif;
}
.res3{
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 100vh;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
   justify-content: space-around;
   
}
.res4{
    width: 80px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
    justify-content: space-around;

    position: absolute;
    right: 0;
    color: brown;

}
.res4 a{
    color: brown;
}
@media (max-width: 470px) {
    .res{
     display: none;
    }
    .res1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        
    }
    .res3{
        display: grid;
        width: 100vw;
        height: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        padding: 20px;
    }
  }